.header {
  background-image: url('../images/header/computer.png');
  background-position: center;
  background-size: cover;

  @include ondesctop {
    row-gap: 30px;
  }
  &__container {
    @include contentpaddinginline;
    
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    row-gap: 110px;
    height: 100vh;
  }
  &__title {
    color: #fff;
    font-size: 40px;
    letter-spacing: -1.5px;
    text-align: center;

    @include ontable {
      font-size: 64px;
    }

    @include ondesctop {
      font-size: 80px;
    }
  }
}
