.menu {
  box-sizing: border-box;
  height: 100vh;
  background: $redColor;
  overflow: auto;

  &__nav {
    margin-bottom: 32px;
  }

  &__container {
    max-width: 1260px;
    margin: auto;

    @include contentpaddinginline;
  }
}
