.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 25px;

  @include contentpaddinginline;

  @include ontable {
    padding-block: 50px;
  }

  &__logo--link {
    display: flex;

    @include hover(transform, scale(1.2));
  }

  &__logo--phone {
    @include ontable {
      display: none;
    }
  }

  &__logo--desktop {
    display: none;

    @include ontable {
      display: block;
    }
  }

  &__icons {
    display: flex;
    gap: 24px;
  }

  &__store-contact {
    position: absolute;
    width: max-content;
    padding-inline: 10px;
    right: 100%;
    top: -40px;
    text-align: right;
    opacity: 0;
    transition: all 0.3s;
    transform: translateX(-10%);
    pointer-events: none;
  }
}
