@mixin zeromarpad {
  margin: 0;
  padding: 0;
}

@mixin ontable {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin ondesctop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin contentpaddinginline() {
  padding-inline: 20px;

  @include ontable {
    padding-inline: 72px;
  }

  @include ondesctop {
    padding-inline: 121px;
  }
}

@mixin hover($property, $toValue) {
  transition: #{$property} 0.3s;

  &:hover {
    #{$property}: $toValue;
  }
}

@mixin cinzelregular16 {
  font-family: Cinzel, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0;
}

@mixin cinzelbold16 {
  font-family: Cinzel, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0;
  color: #3e3e3e;
}

@mixin grid {
  display: grid;
  row-gap: 48px;
}

@mixin gridcontent {
  display: grid;
  gap: 32px 20px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include ontable {
    --columns: 6;

    column-gap: 24;
  }

  @include ondesctop {
    --columns: 12;
  }
}
